# shellcheck shell=bash
# ^ make editor happy

#
# Use https://direnv.net/ to automatically load the dev shell.
#

if ! has nix_direnv_version || ! nix_direnv_version 3.0.7; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.7/direnvrc" "sha256-bn8WANE5a91RusFmRI7kS751ApelG02nMcwRekC/qzc="
fi

watch_file nix/**
watch_file -- **/*.nix
# Adding files to git includes them in a flake
# But it is also a bit much reloading.
# watch_file .git/index .git/HEAD
use flake . --show-trace
